# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# Large artifacts / local outputs
outputs/
logs/
checkpoints/

# Keep code folder as a placeholder for now.
code/*
!code/.gitkeep
